# Project dependencies
.yarn
.cache
*.pyc
node_modules
yarn-error.log

# Local dev/install logs
dev.log
dev.err
install.log
install.err

# Build directory
/build
/dist
*.tsbuildinfo
.DS_Store
.sass-cache/
_posts/
_site/
FIT_OUT/

.mypy_cache

/.vscode
.idea

.venv/
.pdm-python

